@tailwind base;
@tailwind components;
@tailwind utilities;

.text-glow {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.1), 
        0 0 10px rgba(255, 255, 255, 0.1),
        0 0 15px rgba(255, 255, 255, 0.2), 
        0 0 20px rgba(255, 255, 255, 0.2);
}

.text-hover-glow:hover {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.1), 
        0 0 10px rgba(255, 255, 255, 0.1),
        0 0 15px rgba(255, 255, 255, 0.2), 
        0 0 20px rgba(255, 255, 255, 0.2);
}

.box-hover-glow{
    border-radius: 50%;
    background-color: transparent;
    transition-property: color, box-shadow, background-color;
    transition-duration: .15s;
    transition-delay: 0.1s;
}

.box-hover-glow:hover {
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.1), 
        0 0 10px rgba(255, 255, 255, 0.1),
        0 0 15px rgba(255, 255, 255, 0.1), 
        0 0 20px rgba(255, 255, 255, 0.1);
}

.pageclip-form__success__message {
    display: none;
}